<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Url</title>
    <link rel="stylesheet" href="templates/control/css/zyUpload.css" type="text/css">
    <!--MD5加密-->
    <!--<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>-->
    <script src="templates/control/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="templates/control/js/zyFile.js"></script>
    <script type="text/javascript" src="templates/control/js/zyUpload.js"></script>
    <script type="text/javascript" src="templates/control/js/jqueryrotate.js"></script>
    <script type="text/javascript" src="templates/control/js/index.js"></script>
</head>
<body>
<pre style="text-align:center;-webkit-text-fill-color: #00B7EE;">
_       _          ___            _.......
|    |    |   |      |  _   \        |    |........
i   .      i        |  | _)  |        i    ........
      |   | ___ |  |      |  ___  <       i       |___......
        \_____/       |_|    \_\       |________|......
</pre>
<div id="demo" class="demo" style="width: 850px; height: 500px;"> </div>
</body>
</html>